<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Moip Test</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">Detail</div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header text-white bg-info">Client</div>
                    <div class="card-body">
                        <p class="card-text">Social Name</p>
                        <p class="card-text" th:text="${payment.client.socialName}"></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header text-white bg-info">Buyer</div>
                    <div class="card-body">
                        <p class="card-text">Name</p>
                        <p class="card-text" th:text="${payment.buyer.name}"></p>
                        <p class="card-text">CPF</p>
                        <p class="card-text" th:text="${payment.buyer.cpf}"></p>
                        <p class="card-text">Email</p>
                        <p class="card-text" th:text="${payment.buyer.email}"></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header text-white bg-info">Payment</div>
                    <div class="card-body">
                        <p class="card-text">Amount</p>
                        <p class="card-text" th:text="${payment.payment.amount}"></p>
                        <p class="card-text">Type</p>
                        <p class="card-text" th:if="${payment.payment.type == 'BB'}">boleto</p>
                        <p class="card-text" th:if="${payment.payment.type == 'CC'}">credit card</p>
                        <p class="card-text">Status</p>
                        <p class="card-text" th:switch="${payment.payment.status}">
                            <span th:case="'A'" class="badge badge-success">Accepted</span>
                            <span th:case="'R'" class="badge badge-danger">Refused</span>
                            <span th:case="'W'" class="badge badge-warning">Waiting</span>
                        </p>
                        <div class="card" th:if="${payment.payment.card != null}">
                            <div class="card-header text-white bg-info">Card</div>
                            <div class="card-body">
                                <p class="card-text">Holder Name</p>
                                <p class="card-text" th:text="${payment.payment.card.holderName}"></p>
                                <p class="card-text">Number</p>
                                <p class="card-text" th:text="${payment.payment.card.number}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-info" th:href="@{/}" role="button">Back</a>
            </div>
        </div>
    </div>
</body>
</html>